wandb
rich
tqdm
numpy 
omegaconf
pandas
peft
pillow
multiprocess
typing_extensions
sentencepiece
trl==0.12.1
transformers
datasets
torch==2.5.1
torchvision==0.20.1
scikit-learn
accelerate
huggingface-hub
deepspeed